body,html{
    padding: 0 ;
    margin: 0 ; 
    height: 100%; 
  }
  body{
    display: flex;
    flex-direction: column;
  }
@font-face {
  font-family: myFirstFont;
  src: url(../font/Kanit-Light.ttf);
}

* {
  font-family: myFirstFont;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6,p {
  padding: 0;
  margin: 15px 0;
}
a {
  text-decoration: none;
  color: #17949b;
}

.toggle {
  text-align: right;
  display:none;
} 
/* 
@media all and(max-width: 900px){
  .sc-oTbqq .glbJee{
     padding: 0 500px;
     background-color: red;
   }   
}   */
